*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px = 1rem */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
